/* FIXME: box-sizing */
body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: yellow;
  bottom: 0;
  right: 0;
}

.three {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: green;
  bottom: 200px;
}

.four {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: blue;
  top: 5px;
  left: 5px;
}
